{
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid"
}
